.history-wrap {
    padding: 0.7%;
    background-color: #4D3580;
    font-family: 'Domine';
    font-style: normal;
    padding: 1.7% 1% 1% 1%;
    height: 100%;
}

.header{
    display: flex;
    justify-content: center;
    padding: 1%;
    position: relative;
}

.back-btn {
    background-color: #6CDC69;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    right: 2%;
    top: 2%;
    color: #4D3580;
    padding: 1%;
    border-radius: 10px;
}

.teamName {
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #92FF8F;
}

.our-preds {
    color: #6CDC69;
}

.logo{
    width: 50%;
    height: 6.75rem;
    border-radius: 50%;
}

.scoreline{
    font-family: 'Domine', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.725rem;
    margin: 0;
    color: #92FF8F;
    padding-bottom: 1rem;
}

.teams {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 23%;
}

.score-history-wrap {
    padding: 1.5%;
    display: flex;
    align-items: center;
    height: 66%;
}

.sec1 {
    display: flex;
    flex-direction: column;
    width: 22%;
    gap: 15px;
}

.history-table {
    background-color: #4D3580;
    color: #92FF8F;
    font-weight: 700;
    font-size: 20px;
    margin: 0 1%;
    height: 100%;
}

ion-row {
    height: 17%;
}

.prev-meeting {
    color: #6CDC69;
    font-weight: 700;
    font-size: 22px;
    margin-left: 24%;
}

.row-text {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

ion-content::-webkit-scrollbar{
    width: 0px;
}