.list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.list-container::-webkit-scrollbar{
    width: 0px;
}

.home-wrap {
    background-color: #462fb5;
    font-style: normal;
    height: 100%;
}