.scroll-list{
    height: 20%;
    overflow-y: scroll ;
    overflow-x: hidden ;
    padding: 0 ;
    margin: 0 ;
    list-style: none ;
    width: 50%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    background: transparent;
}

ion-list {
    --background: transparent;
    z-index: 1;
    position: relative;
}
  
ion-list .list-item {
    position: relative;
    z-index: 2;
}

ion-item {
    --background: none;
}


.scroll-list::-webkit-scrollbar{
    width: 0px;
}

.list-item{
    text-align: center;
    background:transparent;
    font-family: 'Domine' !important;
    color: #c5c5c5;
    font-size: 14px;
}

.middle-item{
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    transition: font-size 0.3s ease-in-out;
    color: white;
    filter: brightness(100%);
}