.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    height: 50vmin; 
    width: 80vmin;
    padding-bottom: 5vmin;
    border-radius: 2vmin;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d6eb1c;
    color: #462fb5;
}

.container > * {
    margin-top: 5vmin;
}

ion-select {
    width: 30vmin;
}

ion-button {
    width: 24vmin;
}

.home-title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.25vmin;
    color: #462fb5;
}