.container {
    margin-top: 20vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    height: 50vmin; 
    width: 80vmin;
    padding-bottom: 5vmin;
    margin-left: 50vmin; 
    border-radius: 2vmin;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container > * {
    margin-top: 5vmin;
}

ion-select {
    width: 30vmin;
}

ion-button {
    width: 20vmin
}
.title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.25vmin;
}